// 表格主颜色
$main-color: #4e95ff;
// 边框颜色
$border-color: #ebeef5;
// 头部底色
$header-bg-color: #f5f7fa;
// 头部文字颜色
$header-color: #000;
// 悬停颜色
$hover-color: #FFEDEC;
// 选中高亮
$high-light-color: #D8E8FC;
// 点击高亮
$high-light-click: #FFFFEC;
// 排序那两个三角形的颜色
$caret-color: #c0c4cc;
// 没数据展示的文字颜色
$no-data-color: #a6a5a5;
// 文字颜色body
$content-color: #000;